<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
</head>
<body>
<h3>Доступные команды:</h3>
<ul>
    <li><a href="/teachers_dump">Дамп учителей</a></li>
    <li><a href="/parents_dump">Дамп родителей</a></li>
    <li><a href="/teacher_mailing">Рассылка учителей</a></li>
    <li><a href="/parent_mailing">Рассылка родителей</a></li>
    <li><a href="/clear_appointments">Стереть родителей и встречи</a></li>
    <li>Чтобы случайно не нажать две нижнии ссылки</li>
    <li>Чтобы случайно не нажать две нижнии ссылки</li>
    <li>Чтобы случайно не нажать две нижнии ссылки</li>
    <li><a href="/import">Импортировать учителей (Не нажимать)</a></li>
    <li><a href="/clear">Стереть учителей (Не нажимать)</a></li>
</ul>
<a href="/accounts/logout">Разлогиниться</a>
</body>
</html>