{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ contact_form.parent_name.id_for_label }}">{{ contact_form.parent_name.label }}</label>
            {{ contact_form.parent_name }}
        </div>

        <div class="form-group">
            <label for="{{ contact_form.parent_email.id_for_label }}">{{ contact_form.parent_email.label }}</label>
            {{ contact_form.parent_email }}
            <small id="emailHelp" class="form-text text-muted">Мы обязуемся не распростронять вашу почту</small>
        </div>

        <div class="form-group">
            <label for="{{ contact_form.student_grade.id_for_label }}">{{ contact_form.student_grade.label }}</label>
            {{ contact_form.student_grade }}
        </div>

        <div class="form-group">
            <label for="{{ contact_form.student_name.id_for_label }}">{{ contact_form.student_name.label }}</label>
            {{ contact_form.student_name }}
        </div>

        {% csrf_token %}
        {{ teacher_choice_form_set.management_form }}
        <div id="form_set">
            {% for teacher_choice_form in teacher_choice_form_set %}
                <div class="form-group">
                    <label for="inputTeacherName">{{ teacher_choice_form.teacher_name.label }}</label>
                    <div class="input-group teacher_name mb-3">
                        {{ teacher_choice_form.teacher_name }}
                        <div class="input-group-append">
                            <button class="btn btn-danger del_this" type="button">Удалить</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary" formmethod="post">Отправить заявку</button>
        <div id="empty_form" style="display: none">
            <div class="form-group">
                <label for="inputTeacherName">{{ teacher_choice_form_set.empty_form.teacher_name.label }}</label>
                <div class="input-group teacher_name mb-3">
                    {{ teacher_choice_form_set.empty_form.teacher_name }}
                    <div class="input-group-append">
                        <button class="btn btn-danger shadow-none del_this" type="button">Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}